<% if (messages.error) { %>
  <div id="errors">
    <% messages.error.forEach( msg => {%>
    <p><%= msg %></p>
    <% }) %>
  </div>
  <% } %>

  <% if (messages.info) { %>
  <div id="info">
    <% messages.info.forEach( msg => {%>
    <p><%= msg %></p>
    <% }) %>
  </div>
  <% } %>
