<!--- Navigation Bar EJS File --->
<div class="navigation">
  <div class="logo">
     <a class="no-underline" href="/">
       MySite
     </a>
  </div>
  <div class="navigation-search-container">
     <i class="fa fa-search"></i>
     <input class="search-field" type="text" placeholder="Search">
  </div>
  <div class="navigation-links">
     <a href="/explore" class="navigation-link">Explore</a>
     <a href="/followers" class="navigation-link">Followers</a>
     <a href="/saved" class="navigation-link">Saved</a>
     <a href="/profile" class="navigation-link">Profile</a>
  </div>
</div>
<main>
 <p>Scroll down </p>
</main>
