<!-- Navigation Bar EJS File -->
<main>
  <div class="navigation">
    <div class="logo">
      <a class="no-underline" href="/">
        MySite
      </a>
    </div>
    <form class="navigation-search-container" action="/search" method="get">
      <i class="fa fa-search"></i>
      <input class="search-field" type="text" name="country" placeholder="Search by country" required>
      <button type="submit" class="search-button">Search</button>
    </form>
    <div class="navigation-links">
      <a href="/explore" class="navigation-link">Explore</a>
      <a href="/followers" class="navigation-link">Followers</a>
      <a href="/saved" class="navigation-link">Saved</a>
      <a href="/profile" class="navigation-link">Profile</a>
    </div>
  </div> 
</main>
