<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <h1>List of <%= listDescription %></h1>

    <ol>
        <% list.forEach( (elt) => {%>
        <li><%= elt.name %></li>
        <% }); %>
    </ol>
    <!-- load local js -->
    <script src="/main.js"></script>
</body>
</html>
