<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Odyssey</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <%- include("partials/flashes.ejs") %>
    <h1>Welcome!</h1>
    <h1>YOU HAVE SUCCESSFULLY LOGGED IN AND THIS IS THE PROFILE PAGE</h1>

    <p>
        <form action="/logout" method="POST">
          <button>Logout <%= username %></button>
        </form>
    </p>

    <footer class="footer">
        <p>Copyright © The Odyssey Team 2024 all rights reserved.</p>
    </footer>

    <!-- load local js -->
    <script src="/main.js"></script>
<!-- uid script -->
</body>
</html>
