<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Saved</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <h1>Welcome!</h1>
    <h2>You can find your saved posts here</h2>
    
    <p>Everything is fine.</p>

    <!-- <h2>Links</h2>

    <p><a href="/form/">a pizza form</a></p>
    
    <p><a href="/staffList/">staff listing</a></p> -->

    <div>
        <% if (posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <%- include('post', { post: post, username: username }) %>
            <% }); %>
        <% } else { %>
            <p>No posts yet.</p>
        <% } %>
    </div>

    <footer class="footer">
        <p>Copyright © The Odyssey Team 2024 all rights reserved.</p>
    </footer>

    <!-- load local js -->
    <script src="/main.js"></script>
</body>
</html>
