/* Navigation Bar Styles */
@import url('https://fonts.googleapis.com/css?family=Fredoka');

body {
  background-color: #f0f2f5;
  font-family: 'Fredoka', sans-serif;
}

main {
  margin-top: 100px; 
  text-align: center;
}

.navigation {
  background-color: #d7f9ff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0; 
  position: fixed;
  top: 0;
  left: 0; 
  right: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
}

.navigation .logo a {
  color: #0e1c36;
  font-size: 24px;
  text-decoration: none;
  padding-left: 10px; 
}


.navigation-search-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-field {
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  padding: 8px 15px;
  width: 60%;
}

.fa-search {
  position: absolute;
  left: 10px;
}

.navigation-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  padding-right: 30px;
}

.navigation-links a {
  color: #0e1c36;
  text-decoration: none;
  margin: 0 5px; 
  font-size: 16px; 
  padding: 10px;
}

.notification-bubble {
  background-color: #ed4956;
  border-radius: 10px;
  color: white;
  display: block;
  font-size: 12px;
  padding: 2px 5px;
  position: absolute;
  top: -10px;
  right: -10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navigation-links, .navigation-search-container {
    flex-direction: column;
    align-items: center;
  }

  .search-field {
    width: 80%; 
  }

  .navigation-links a {
    margin: 5px 0; 
  }

  .navigation {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
}
