/* Importing Google Font 'Fredoka' */
@import url('https://fonts.googleapis.com/css?family=Fredoka');

/* Global styles */
body {
  background-color: #f9fbf2;
  font-family: 'Fredoka', sans-serif;
  margin: 0;
  padding: 20px;
}

main {
  margin-top: 100px; 
  text-align: center;
}

/* Navigation bar styles */
.navigation {
  background-color: #d7f9ff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
}

.navigation .logo a {
  color: #000000;
  font-size: 24px;
  text-decoration: none;
  padding-left: 10px;
}

/* Search container within the navigation */
.navigation-search-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-field {
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  padding: 8px 15px;
  padding-right: 45px; /* Increased padding to avoid overlap */
  width: 60%;
  position: relative;
}

.fa-search {
  position: absolute;
  left: 30px;
  color: #ccc;
}

/* Login/Sign up form and buttons*/

#login-form label,
#signup-form label  {
  display: block;
  margin-bottom: 20px;
}

.profile-button {
  right: 10px; /* Adjusted to be inside the search field */
  border: none;
  background-color: #1b9ee9; /* Matching the logo color */
  color: white;
  padding: 10px 20px;
  border-radius: 20px; /* Keeping the rounded edges */
  cursor: pointer;
  font-size: 18px;
  outline: none;
}

/* footer */
.footer {
  color: #565656;
  font-size: 12px;
  padding-bottom: 30px;
  padding-top: 60px;
  text-align: center;
}

/* Adjusted search button to fit inside the search field */
.search-button {
  position: absolute;
  right: 10px; /* Adjusted to be inside the search field */
  border: none;
  background-color: #1b9ee9; /* Matching the logo color */
  color: white;
  padding: 4px 8px; /* Adjusted padding */
  border-radius: 20px; /* Keeping the rounded edges */
  cursor: pointer;
  font-size: 12px; /* Smaller font size */
  outline: none;
}

button:hover {
  background-color: #016faf; /* Slightly darker on hover */
}

/* Link styles in the navigation */
.navigation-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  padding-right: 30px;
}

.navigation-links a {
  color: #000000;
  text-decoration: none;
  margin: 0 5px;
  font-size: 16px;
  padding: 10px;
}

/* Bottom nav bar */
.bottom-bar {
  background-color: #d7f9ff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
}

#post-button {
  right: 10px; /* Adjusted to be inside the search field */
  border: none;
  background-color: #1b9ee9; /* Matching the logo color */
  color: white;
  padding: 10px 20px;
  border-radius: 20px; /* Keeping the rounded edges */
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  outline: none;
  top: 50%;
  left: 50%;
  float: none;
  position: absolute;
  transform: translate(-50%, -50%);
}



/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .navigation-links, .navigation-search-container {
    flex-direction: column;
    align-items: center;
  }

  .search-field {
    width: 80%; /* Larger on smaller screens */
  }

  .navigation-links a {
    margin: 5px 0;
  }

  .navigation {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
}

/* Styles for posts and forms */
.post-container, .form-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 80%;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.location, .date-time {
  font-size: 16px;
  font-weight: bold;
}

.username {
  font-size: 14px;
  color: #1b9ee9;
  margin-bottom: 10px;
  font-weight: bold;
}

.image-container img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.tags .tag {
  display: inline-block;
  background-color: #eee;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  margin-right: 5px;
  margin-bottom: 5px;
  /* color; */
}

/* Styles for the "Edit" button
.edit-post-button {
  position: absolute;
  top: 10px; 
  right: 10px; 
  background-color: #1b9ee9; 
  color: white; 
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px; 
  font-size: 12px; 
  cursor: pointer; 
  border: none;
}

.edit-post-button:hover {
  background-color: #016faf; 
}